body{
   background-color: rgb(245, 241, 237);
}

.line{
  text-decoration: line-through red;
}

.first{
  color: rgb(143, 141, 141);
}
.column {
    float: left;
    width: 10%;
    padding: 0px 70px;
    height: 300px; 
  }


.text1{
    font-size: 60px;
    padding: 100px 100px 20px 0px;
    font-family: 'Abril Fatface', cursive;
}


* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  

  .column {
    /* float: left; */
    width: 20%;
    padding: 15px 20px 50px;
  }
  

  .row {
    margin: 0px 30px 0px 150px;
  
    
  }
  

  
  .two{
      float: left;
      padding: 40px 10px 0px 650px;
      color: rgb(143, 141, 141);
      /* text-decoration: underline ; */
  }

 
  @media screen and (max-width: 600px) {
    .column {
      width: 50%;
      display: block;
      margin-bottom: 5px;
    }
  }
  

  .card {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10%;
  }

  img {
      height: 50%;
      width: 90%;
      padding: 10px 10px 10px 10px;
      border-radius: 50%;
  }

  .btn {
    border: none;
    color: rgb(255, 254, 254);
    padding: 10px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20%;
  }

  .danger {background-color: #f31d0d;}  
.danger:hover {background: #e2190a;}
